body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bodyMarginTop{
  margin-top: 120px !important;
}



.customTab,.customTab2{
  display:flex;
  justify-content: center;
  align-items: center;
}
.customTab>div{
  padding: 10px;
  border-bottom: 2px solid #0D2149;
  border-top: 2px solid #0D2149;
  margin: 10px;
  transition: all 0.3s ease;
  position:relative;
  cursor:pointer;
  min-width:300px;
  text-align: center;
}
.customTab2>div{
  margin: 10px 10px 0px 10px;
  padding: 8px;
  border: 3px solid #06316d;
  border-bottom: none;
  min-width: 200px;
  cursor:pointer;
}


.tabPressed{
  background-color:#0D2149;
  color:white
}
.tabUnPressed,.tabUnPressed2{
  background-color:transparent;
  color:black;
  transition: all 0.2s ease-in-out;
}
.tabPressed2{
  background-color:#06316d;
  color:white;
}
.tabUnPressed2:hover{
  letter-spacing: 2px;
}

/*
.tabUnPressed:before,.tabUnPressed:after{
  content: '';
  position: absolute;
  width:100%;
  height:0%;
  background-color:#0D2149;
  z-index: -1;
  transition: 0.2s ease-in-out;
}
.tabUnPressed:after{
  left:0;
  top: 0;
}
.tabUnPressed:before{
  left:0;
  bottom: 0;
}
.tabUnPressed:hover:before,.tabUnPressed:hover:after{
  animation: tabBreathingAnimate 1s ease-in-out infinite;
}

.tabUnPressed:hover{
  color:white;
  animation: tabBreathingAnimateText 1s ease-in-out infinite;
}
*/

.tabUnPressed:before{
  content: '';
  position: absolute;
  width:0%;
  height:100%;
  left:0;
  top:0;
  background-color:#0D2149;
  z-index: -1;
  transition: 0.2s ease-in-out;
}
.tabUnPressed:hover:before{
  width:100%;
}
.tabUnPressed:hover {
  color: white;
}
@media only screen and (max-width: 1000px) {
  .customTab{
    flex-direction: column;
  }
}
