.propositionDiv {
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-count: 3;
}

.propositionDesc {
  text-align: center;
}

.propositionExplain {
  margin-left: 20%;
  margin-right: 20%;
}

.topLine {
  width: 80%;
  margin: 0 auto;
}

.image-subtitles {
  text-align: center;
}

.img-fluid {
  width: fit-content;
  height: fit-content;
}

@media (max-width: 1000px) {
  .propositionDiv {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-count: 1;
  }
}
