.model-triage-container {
	margin-top: 1em;
}

.chart-line {
	fill: none;
	stroke: blue;
	stroke-width: 4px;
}
.axis text {
	font-family: 'Poiret One', cursive;
	font-size: 12pt;
	color: gray;
}
.axis .label {
	font-size: 22pt;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke: lightgray;
	stroke-width: 1px;
}

.form-input-number {
	width: 60px;
	padding: 2px;
	padding-left: 15px;
	margin-left: 20px;
	border: 0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}

.form-input-slider {
	margin: 5px 0;
	margin-right: 20px;
}

.img-align {
	text-align: center;
}
.img-SEIR-model {
	margin: 10px 0;
}

.interactiveDiv{
	display:flex;
}
#parameters-outer-box {
	width:40%;
	position: relative;;
}
#parameters-control-image img{
	width:100%;
	object-fit: contain;
}
.ratioOverTime{
	flex:1;
}
.arrowDiv{
	width:100px;
	height:20px;
	position:relative;
	align-self: center;
}
.arrowDiv:before{
	content: '';
	position: absolute;
	left:0;
	top:50%;
	transform: translateY(-50%);
	height:5px;
	width:80%;
	background-color:black;
}
.arrowDiv:after{
	content: '';
	position: absolute;
	right:0;
	top:50%;
	transform: translateY(-50%);
	height:20px;
	width:20px;
	border-left: 10px solid black;
	border-top: 10px solid transparent;;
	border-bottom: 10px solid transparent;;
}

@media only screen and (max-width: 1000px) {
	.interactiveDiv{
		flex-direction: column;
	}
	#parameters-outer-box{
		width:100%;
	}
	.arrowDiv{
		width:20px;
		height: 100px;
	}

	.arrowDiv:before{
		left:50%;
		height:80%;
		width:5px;
		top:0;
		transform: translateX(-50%);
		background-color:black;
	}
	.arrowDiv:after{
		left:50%;
		top:calc(100% - 20px);
		transform: translateX(-50%);
		height:20px;
		width:20px;
		border-top: 10px solid black;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
}
