*{
    font-family: sans-serif;
}
.bodyMarginTop{
    margin-top: 120px !important;
}
.mainTitle{
    font-size: 40px;
    font-weight: bold;
}
.subTitle{
    font-size: 36px;
    font-weight: bold;
}
.homeTitles{
    margin: 30px 0;
}
.home-container {
    margin: 1em 0;
}
.homeCards{
    display:flex;
    flex-wrap: wrap;
}
.homeCards  .cards{
    flex:1;
    flex-basis: 300px;
    margin: 10px;
    text-align: center;
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px white;
    transition: all 0.2s ease-in-out;
    position:relative;
    overflow:hidden;
    min-height:450px;
}
.homeCards  .cards:hover{
    color:white;
}
.homeCards  .cards::after{
    content:'';
    position:absolute;
    top:-100%;
    left:-100%;
    width:100%;
    height:100%;
    z-index: -1;
    border-radius: 50%;
    transition: width 0.5s ease-in-out,height 0.5s ease-in-out;
}
.homeCards  .cards:hover::after{
    width:300%;
    height:300%;
}
/*
.homeCards  .cards:nth-child(1):hover::after{
    background-color: #143642;
}
.homeCards  .cards:nth-child(2):hover::after{
    background-color: #0F8B8D;
}
.homeCards  .cards:nth-child(3):hover::after{
    background-color: #EC9A29;
}
.homeCards  .cards:nth-child(4):hover::after{
    background-color: #A8201A;
}
*/

.homeCards  .cards:hover{
    transform: scale(1.2);
    z-index: 2;
}
.homeCards  .cards:nth-child(1):hover:after{
    background-color: #143642;
}
.homeCards  .cards:nth-child(2):hover:after{
    background-color: #0F8B8D;
}
.homeCards  .cards:nth-child(3):hover:after{
    background-color: #EC9A29;
}
.homeCards  .cards:nth-child(4):hover:after{
    background-color: #A8201A;
}


.cards img{
    width:100px;
    height:100px;
    object-fit: contain;
    padding: 10px;
    border-radius: 50%;
}
.cards .cardTitle{
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
}



#section1{
    background-color:#161B33;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:400px;
    margin: 20px 0;
    padding: 10px;
}
#section1 > div{
    width:80%;
}
#section1 .title{
    font-size: 35px;
    text-decoration: underline;
    margin-bottom: 5px;
}
.homeTableau{
    display:flex;
    justify-content: center;
}
.tableauGraph{
    height: 1050px;
}
#section2{
    background-color: #011627;
    color:white;
    margin: 20px 0;
}
#section2 > div{
    width:80%;
    margin: 0 auto;
    padding: 50px;
}
#section3 > div{
    width:80%;
    margin: 0 auto;
    background-color:#474973;
    color:white;
    padding: 10px;
    border-radius: 15px;
}
#section3 .title{
    font-size: 35px;
    text-decoration: underline;
}
.caseDetails{
    font-size: 26px;
}
.caseDetails > div{
    margin: 8px;
    padding: 5px;
}
.caseDetails > div:not(:last-child){
    border-bottom: 1px solid #540D6E;
}
.caseDetails > div >div:nth-child(1){

}
.caseDetails > div >div:nth-child(2){
    color: #3B60E4;
}
