*{
    font-family: sans-serif;
}
.homebody{
    overflow: hidden;
}
.displayFlex{
    display:flex;
}
.displayCenter{
    align-items: center;
    justify-content: center;
}
.displayWrap{
    flex-wrap: wrap;
}
.mainTitle{
    font-size: 36px;
    font-weight: bold;
}
.subTitle{
    font-size: 32px;
    font-weight: bold;
}
.homeTitles{
    margin: 30px 0;
}
.home-container {
    margin: 1em 0;
}
.homeCards{
    display:flex;
    flex-wrap: wrap;
}
.homeCards  .cards{
    flex:1;
    flex-basis: 250px;
    margin: 10px;
    text-align: center;
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px white;
    transition: all 0.2s ease-in-out;
    position:relative;
    overflow:hidden;
    min-height:450px;
}
.homeCards  .cards:hover{
    color:white;
}
.homeCards  .cards::after{
    content:'';
    position:absolute;
    top:-100%;
    left:-100%;
    width:100%;
    height:100%;
    z-index: -1;
    border-radius: 50%;
    transition: width 0.5s ease-in-out,height 0.5s ease-in-out;
}
.homeCards  .cards:hover::after{
    width:300%;
    height:300%;
}
/*
.homeCards  .cards:nth-child(1):hover::after{
    background-color: #143642;
}
.homeCards  .cards:nth-child(2):hover::after{
    background-color: #0F8B8D;
}
.homeCards  .cards:nth-child(3):hover::after{
    background-color: #EC9A29;
}
.homeCards  .cards:nth-child(4):hover::after{
    background-color: #A8201A;
}
*/

.homeCards  .cards:hover{
}
.homeCards  .cards:nth-child(1):hover:after{
    background-color: #143642;
}
.homeCards  .cards:nth-child(2):hover:after{
    background-color: #0F8B8D;
}
.homeCards  .cards:nth-child(3):hover:after{
    background-color: #EC9A29;
}
.homeCards  .cards:nth-child(4):hover:after{
    background-color: #A8201A;
}


.cards img{
    width:100px;
    height:100px;
    object-fit: contain;
    padding: 10px;
    border-radius: 50%;
}
.cards .cardTitle{
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
}



#section1{
    background-color:#161B33;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:300px;
    margin: 20px 0;
    padding: 10px;
}
#section1 > div{
    width:80%;
}
#section1 .title{
    font-size: 28px;
    text-decoration: underline;
    margin: 5px 0px;
}
.homeTableau{
    padding: 10px;
    box-sizing: border-box;
    resize: horizontal;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}

.homeTableau > div{
    width:80%;
    padding-bottom: 75%;
    position:relative;
    overflow: hidden;
}
.homeTableau iframe{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow: hidden;
}
.tableauGraph{
    height: 1050px;
}
#section2{
    background-color: #011627;
    color:white;
    margin: 20px 0;
}
#section2 > div{
    width:90%;
    margin: 0 auto;
    padding: 50px;
}
#section3 > div{
    width:80%;
    margin: 0 auto;
    background-color:#474973;
    color:white;
    padding: 10px;
    border-radius: 15px;
}
#section3 .title{
    text-decoration: underline;
}
