.iframeTab{
    text-align: center;
    width:100%;
    height: 1050px;
    margin-top: 30px;
    overflow-x: scroll;
}
.iframeTab iframe{
    width:1100px;
    height: 950px;
}
.subTabIframes>iframe{
    border-top: 3px solid #0D2149;
}
